# Test files
tests/data
tests/input
tests/output
tests/expected

# Builds
build/

# Object files
obj/*
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.out
bin/*
server
client

# Python
.venv

.DS_Store

# Project 0
src/project0/main
src/project0/test
src/project0/benchmark

.docker_build_stamp